<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Contacts</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="{% static 'gobal.css' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <script src="{% static 'bundle.js' %}"></script>

    <div class="container">
      <md-filled-card>
        <nav class="left-nav">
          <md-list aria-label="Interactive example">
            <!-- <md-list-item type="button" >
              Button item 
            </md-list-item> -->

            <md-list-item id="viewContacts" type="link" href="#">
              View Contacts

              <md-icon slot="start">
                <span class="material-symbols-outlined"> group </span>
              </md-icon>
            </md-list-item>

            <md-divider></md-divider>

            <md-list-item
              id="addContact"
              onclick="openDialog()"
              type="link"
              href="#"
            >
              Add Contact

              <md-icon slot="start">
                <span class="material-symbols-outlined"> person_add </span>
              </md-icon>
            </md-list-item>

            <md-divider></md-divider>

            <md-list-item type="link" href="{% url 'adminlogin' %}">
              Logout

              <md-icon slot="start">
                <span class="material-symbols-outlined"> logout </span>
              </md-icon>
            </md-list-item>
          </md-list>
        </nav>
      </md-filled-card>

      <main>
        <header>
          <h1 class="contact-title">WaitList Contacts</h1>

          <!-- <md-outlined-text-field
            label="Search contacts..."
            id="searchInput"
          ></md-outlined-text-field> -->
        </header>
        <!-- <div id="contactsList">
        Contact cards will be dynamically added here
      </div> -->

        <!-- <p>{{contact_list}}</p> -->
        {% for item in contact_list %}
        <md-elevated-card id="contactsList">
          <div class="contact-card">
            <h2>{{ item.name }}</h2>
            <p>Email: {{ item.email }}</p>
            <p>Phone: {{ item.phone_number }}</p>
            <div class="action-buttons">
              <form method="post" action="{% url 'delete_contact' item.id %}">
                {% csrf_token %}
                <md-outlined-button
                  class="delete mat-button"
                  role="presentation"
                  value=""
                  type="submit"
                  >Delete</md-outlined-button
                >
              </form>
              <md-filled-button
                class="edit mat-button"
                role="presentation"
                value=""
                onclick="openEditDialog('{{ item.name }}', '{{ item.email }}', '{{ item.phone_number }}', {{ item.id }} )"
                >Edit</md-filled-button
              >
            </div>
          </div>
        </md-elevated-card>

        {% endfor %}
      </main>
    </div>

    <md-dialog class="contacts" id="addContactDailog">
      <span slot="headline" style="padding-left: 50px; padding-top: 20px">
        <span class="headline">Create new contact</span>
      </span>
      <form id="form" slot="content" method="dialog" class="contact-content">
        <md-outlined-text-field
          autofocus
          label="Name"
          class="Name"
        ></md-outlined-text-field>
        <br />
        <md-outlined-text-field
          label="Email"
          class="Email"
        ></md-outlined-text-field>
        <br />
        <md-outlined-text-field
          label="Phone"
          class="Phone"
        ></md-outlined-text-field>
      </form>
      <div slot="actions" style="margin-right: 45px; padding-bottom: 20px">
        <div style="flex: 1"></div>
        <md-text-button form="form" value="cancel">Cancel</md-text-button>
        <md-text-button form="form" value="save">Save</md-text-button>
      </div>
    </md-dialog>

    <md-dialog class="contacts" id="editContactDailog">
      <span slot="headline" style="padding-left: 50px; padding-top: 20px">
        <span class="headline">Edit contact</span>
      </span>
      <form
        id="editform"
        slot="content"
        method="POST"
        class="contact-content"
        action="{% url 'edit_contact' 0 %}"
      >
        {% csrf_token %}
        <md-outlined-text-field
          autofocus
          label="Name"
          class="Name"
          id="editname"
          name="fullname"
        ></md-outlined-text-field>
        <br />
        <md-outlined-text-field
          label="Email"
          class="Email"
          id="editemail"
          name="email"
        ></md-outlined-text-field>
        <br />
        <md-outlined-text-field
          label="Phone"
          class="Phone"
          id="editphone"
          name="phone"
        ></md-outlined-text-field>
        <div style="padding-top: 10px; display: flex; justify-content: right">
          <div></div>
          <md-text-button value="save">Save</md-text-button>
        </div>
      </form>
    </md-dialog>

    {% comment %}
    <script src="script.js"></script>
    {% endcomment %}

    <script>
      const addContactDailog = document.getElementById("addContactDailog");
      const editContactDailog = document.getElementById("editContactDailog");
      var test = 10;

      var name = "";
      var email = "";
      var phone_number = "";

      function openDialog() {
        addContactDailog.show();
      }

      function openEditDialog(name, email, phone_number, contact_id) {
        document.getElementById("editname").value = name;
        document.getElementById("editemail").value = email;
        document.getElementById("editphone").value = phone_number;
        var form = document.getElementById("editform");
        form.action = "{% url 'edit_contact' 0 %}".replace("0", contact_id);
        editContactDailog.show();
      }
    </script>
  </body>
</html>
